@use '../abstracts/index' as ab;

.navbar {
    background-color: #000000 !important;

    
}
.navbar-brand{
    img{
        max-width: 1.875rem;
        height: auto;
        display: block;
    }
}
.nav-link{
    color: #fff;
    &:hover{
        color: ab.$primary-color;
    }
    &.router-link-active {
     color: ab.$primary-color;
     text-decoration: underline;   // background-color: lightblue;
      }
}
.navbar-toggler-icon{
    filter: invert(1);
}